@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #090c13;
    color: #f1f5f9;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0d121f;
}
::-webkit-scrollbar-thumb {
  background: #2b354f;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

.glow-purple {
  box-shadow: 0 0 35px -5px rgba(139, 92, 246, 0.3);
}

.glow-emerald {
  box-shadow: 0 0 30px -5px rgba(16, 185, 129, 0.25);
}
